html {
    position: sticky;
    height: fit-content;
    background-color: black;
}

.column {
    flex: 1;
    border-right: 4px solid #B64D00;
    padding: 3px;
}

#last {
    border-right: none;
}

h1 {
    font-family: impact, fantasy;
    font-weight: bolder;
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

a {
    color: inherit;
    font-size: 32px;
}

p a {
    font-size: inherit;
}

a:hover {
    color: darkorange;
}

input {
    margin: 5px;
    width: 100px;
}

article {
    justify-content: center;
    width: fit-content;
    align-items: stretch;
    display: flex;
    border: 2px solid;
    border-radius: 15px;
    border-color: #B64D00;
    margin: 10px;
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.7));
}

.harticles {
    display: flex;
    flex-direction: row;
    padding: 0;

}

.varticles {
    flex-direction: column;
    align-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.gallery figure {
    width: 90%;
}

figure {
    width: 500px;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center !important;
    justify-content: center !important;
}

footer {
    display: flex;
    justify-content: center;
    font-family: cursive, sans-serif;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    object-fit: contain;
    border-collapse: collapse;
}

th {
    object-fit: contain;
    width: 20%;
    height: 200px;
    border-bottom: 2px solid #B64D00;

}

th img {
    padding-top: 0;
}

.thlast {
    border-bottom: none;
}

.doublewide {
    width: 40%;
}

body {
    height: inherit;
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    text-align: center;
    margin: 0;
    height: inherit;

}

main {
    position: sticky;
    height: 1000vh;
    width: 75%;
    background-image: url(images/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-right: 10px;
}

aside {
    position: sticky;
    width: 25%;
    height: 1000vh;
    background: linear-gradient(rgba(40, 21, 9, 1));
    ;
    border-left: 10px solid #d29060;
}

.menu {
    margin-top: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menu a {
    width: 100%;
    background-color: linear-gradient(rgb(69, 32, 9));
    ;
    ;
    border-top: 2px solid #d29060;
    border-bottom: 2px solid #d29060;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}

.menu a:hover,
.menu a:active {
    background-color: rgb(125, 87, 11);
    ;
    color: rgb(185, 178, 165) !important;
}

.menu a:visited,
.menu a:link {
    color: inherit;
}

li {
    border-bottom: 2px solid #d29060;
}

li p {
    text-align: left;
}

.def:hover {
    color: #007fb6 !important;
}

header {
    display: flex;
    justify-content: center;
}

p {
    font-size: x-large;
}

option {
    font-size: x-large;
}

select {
    font-size: x-large;
    width: 50%;
}

input {
    align-self: center;
    font-size: x-large;
}

.apie {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.apie p {
    width: 50%;
}

.imgfit3 {
    width: 50%;
    align-self: center;
}