html {
    position: sticky;
    height: fit-content;
    background-color: black;
}

.column {
    flex: 1;
    border-right: 4px solid #B64D00;
    padding: 3px;
}

#last {
    border-right: none;
}

.contain {
    object-fit: contain;
    width: 20%;
    align-self: flex-start;
}

/* .top {
    align-items: flex-start;
} */
h1 {
    font-family: impact, fantasy;
    font-weight: bolder;
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

a {
    color: inherit;
    font-size: 32px;
}

a:hover {
    color: darkorange;
}

input {
    margin: 5px;
    width: 100px;
}

article {
    justify-content: center;
    width: fit-content;
    align-items: stretch;
    display: flex;
    border: 2px solid;
    border-radius: 15px;
    border-color: #B64D00;
    margin: 10px;
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.7));
}

.harticles {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.twenty {
    width: 20%;
}

.forty {
    width: 40%;
    margin-top: 0;
}

.varticles {
    flex-direction: column;
    align-content: center;
}

.gallery {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

figure {
    width: fit-content;
    margin: 5px;
    padding: 0;
}

.gallery img {
    width: 300px;
}

/* .gallery img:hover {
    max-height: 100vh ;
    max-width: 100vh;
    width: unset;
} */

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center !important;
    justify-content: center !important;
}

footer {
    display: flex;
    justify-content: center;
    font-family: cursive, sans-serif;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    object-fit: contain;
    border-collapse: collapse;
}

th {
    object-fit: contain;
    width: 20%;
    height: 200px;
    border-bottom: 2px solid #B64D00;
    vertical-align: top;
    padding-top: 10px;
}

.thlast {
    border-bottom: none;
}

.doublewide {
    width: 40%;
}

body {
    height: inherit;
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    text-align: center;
    margin: 0;
    height: inherit;

}

main {
    position: sticky;
    height: 1000vh;
    width: 75%;
    background-image: url(images/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-right: 10px;
}

aside {
    position: sticky;
    width: 25%;
    height: 1000vh;
    background: linear-gradient(rgba(40, 21, 9, 1));
    border-left: 10px solid #d29060;
}

.menu {
    margin-top: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menu a {
    width: 100%;
    background-color: linear-gradient(rgb(69, 32, 9));
    ;
    ;
    border-top: 2px solid #d29060;
    border-bottom: 2px solid #d29060;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}

.menu a:hover,
.menu a:active {
    background-color: rgb(125, 87, 11);
    ;
    color: rgb(185, 178, 165);
}

.menu a:visited,
.menu a:link {
    color: inherit;
}

li {
    border-bottom: 2px solid #d29060;
}

li p {
    text-align: left;
}

.def:hover {
    color: #007fb6 !important;
}

header {
    display: flex;
    justify-content: center;
}

p {
    font-size: x-large;
}

p a,
figcaption a {
    font-size: inherit;
}

option {
    font-size: x-large;
}

select {
    font-size: x-large;
    width: 50%;
}

input {
    align-self: center;
    font-size: x-large;
}

.apie {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.apie p {
    width: 50%;
    text-align: right;
    padding-right: 5px;
}

.imgfit3 {
    width: 50%;
    align-self: center;
}

.text {
    width: 50%;
    height: fit-content;
}

#tamamo {
    width: 50%;
}

.name {
    color: #fa7427;
    font-size: 150%;
    text-shadow: 1px 2px #ffcaab;
}

@media screen and (max-width: 1300px){
    .harticles {
        flex-wrap: wrap;
        justify-content: center;
    }
    .forty {
        width: 100%;
    }
    .contain {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .menu a {
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }

    body {
        flex-direction: column-reverse;
    }

    aside {
        width: 100%;
        height: fit-content;
        border-left: none;
        border-bottom: 10px solid #d29060;
    }

    main {
        width: 100%;
    }

    .menu {
        margin-top: 0;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .menu a {
        border-top: none;
        border-bottom: none;
        border-left: solid #d29060;
        border-right: solid #d29060;
        margin-top: 0;
    }



}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }

    .imgfit3 {
        width: 100%;
    }

    .column {
        border-right: none;
        border-bottom: 4px solid #B64D00;
    }

    #last {
        border-bottom: none;
    }

    .menu a {
        font-size: 16px;
    }

    .apie {
        flex-direction: column;
    }

    .apie p,
    select,
    .text {
        width: 100%;
        text-align: center;
    }

    #tamamo {
        width: 100%;
    }

    .forty {
        align-self: center;
        width: 100%;
    }


}

@media screen and (max-width: 500px) {
    .menu a {
        font-size: 11px;
    }

    h1 {
        font-size: 40px;
    }

    .harticles {
        flex-direction: column;
    }

    .contain {
        width: 70%;
        align-self: center;
    }
}